# Build folders
build/
Debug/
Release/
ipch/
out/

# Dependencies folder
dependencies/

# MacOS folder settings
.DS_Store

# Resources folder
res/
res.zip

# Application produced files
imgui.ini
log.txt

# Visual Studio Files
.vs/
*.opensdf
*.sdf
*.suo
*.vcxproj.user
